<p>nav works!</p>
<!-- <button (click)="data()"> Send </button> 
<div>
    <form>
        <div>
          <label for="text">Name</label>
          <input type="text"  id="text">
        </div><br>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password"  id="pwd">
        </div><br>
        <div>
          <label for="email">Email address:</label>
          <input type="email" id="email"> 
        </div><br>
        <button type="submit">Submit</button>
      </form>
</div> -->
