

 <div class="app">
  <h1 id="a">Weather application</h1>

  <input id="c" type="text" placeholder="Enter the location"><br><br>

  <button id="d" (click)="getWeather()">Search</button><br><br>

  <div  class="res">
  
    <h2>Temperature:<span>0</span>°C</h2>
    <div>
    <h2>Humdity:<span></span></h2>
    <h2>Wind-speed: <span></span></h2>
    </div>
  </div>
</div> 

<!-- <p>weather works!</p>
<div class="app">
    <div><h1 id="a">Weather App</h1>
        <div class="b">
            <input id="c" type="text" id="city" placeholder="Enter the city">
            <button id="d" (click)="getWeather()">Search</button>
            <div *ngIf="weather" class="res">
              <h1>{{weather.name}}</h1></div>
            <div><h2>{{weather.country}}</h2></div>
                 <p>Temp:{{ weather.temp_c}}°C</p>
                  <p>Condition:{{weather.current.condition.text}}</p>
                 <p>Local Time:"{{ weather.localtime }}</p>
      
                </div>
                    -->