<ul class="b">
  <li class="a"><a routerLink="nav">Nav</a></li>
  <li class="a"><a routerLink="form">Form</a></li>
  <li class="a"><a routerLink="about">About</a></li>
  <li class="a"><a routerLink="list">list</a></li>
  <li class="a"><a routerLink="table">table</a></li>
  <li class="a"><a routerLink="registration">registration</a></li>
  <li class="a"><a routerLink="todo">Todo</a></li>
  <li class="a"><a routerLink="crud">Curd</a></li>
  <li class="a"><a routerLink="weather">weather</a></li>
  
  
</ul><br><br>
<div>


 
<router-outlet></router-outlet>
<!-- <h1>{{value}}</h1>
<div>
<app-table [myinput]="msg"></app-table>
</div>
<div>
<app-list (receive)="getData($event)"></app-list>
</div>

<h1 #heading>this is a viewchild</h1> --> 



<!-- <div>
  reverse:{{"string" | user }}
</div> -->

